/* jQuery Countdown styles 2.0.0. */
.is-countdown {


}
.countdown-rtl {
	direction: rtl;
}
.countdown-holding span {
	color: #888;
}
.countdown-row {
	clear: both;
	width: 100%;
	padding: 0px 2px;
	text-align: center;
}
.countdown-show1 .countdown-section {
	width: 98%;
}
.countdown-show2 .countdown-section {
	width: 48%;
}
.countdown-show3 .countdown-section {
	width: 32.5%;
}
.countdown-show4 .countdown-section {
	width: 24.5%;
}
.countdown-show5 .countdown-section {
	width: 19.5%;
}
.countdown-show6 .countdown-section {
	width: 16.25%;
}
.countdown-show7 .countdown-section {
	width: 14%;
}
.countdown-section {
	display: block;
	float: left;
	font-size: 100%;
	text-align: center;
}


.countdown-amount {
    font-size: 300%;
    font-family: 'Nunito', sans-serif;
    color:#fff;
    text-shadow:0px 0px 20px #2DAABE,0px 0px 20px #2DAABE,0px 0px 20px #2DAABE;
	-moz-text-shadow:0px 0px 20px #2DAABE,0px 0px 20px #2DAABE,0px 0px 20px #2DAABE;
	-webkit-text-shadow:0px 0px 20px #2DAABE,0px 0px 20px #2DAABE,0px 0px 20px #2DAABE;
}


@media (min-width: 768px) {
	.countdown-amount {
	    font-size: 500%;
	}
}


.countdown-period {
    font-size: 120%;
    display: block;
    font-family: 'Nunito', sans-serif;
    color:#fff;
    text-shadow:0px 0px 20px #C1007B,0px 0px 20px #C1007B,0px 0px 20px #C1007B;
	-moz-text-shadow:0px 0px 20px #C1007B,0px 0px 20px #C1007B,0px 0px 20px #C1007B;
	-webkit-text-shadow:0px 0px 20px #C1007B,0px 0px 20px #C1007B,0px 0px 20px #C1007B;
}

@media (min-width: 768px) {
    /* ウインドウ幅750px以上の時に適用されるスタイル */
	.countdown-period {
	    font-size: 150%;
	}
}


.countdown-descr {
	display: block;
	width: 100%;
}

.countdown-text {
    font-size: 200%;
    display: block;
    font-family: 'Nunito', sans-serif;
    color:#fff;
	margin: 60px auto;
    text-shadow:0px 0px 20px #2DAABE,0px 0px 20px #2DAABE,0px 0px 20px #2DAABE;
	-moz-text-shadow:0px 0px 20px #2DAABE,0px 0px 20px #2DAABE,0px 0px 20px #2DAABE;
	-webkit-text-shadow:0px 0px 20px #2DAABE,0px 0px 20px #2DAABE,0px 0px 20px #2DAABE;
}

@media (min-width: 768px) {
	.countdown-text {
	    font-size: 200%;
		margin: 80px auto;
	}
}


.countdown-descr {
	display: block;
	width: 100%;
}

.countdown-text-mini {
    font-size: 120%;
    display: block;
    font-family: 'Nunito', sans-serif;
    color:#fff;
    text-shadow:0px 0px 20px #2DAABE,0px 0px 20px #2DAABE,0px 0px 20px #2DAABE;
	-moz-text-shadow:0px 0px 20px #2DAABE,0px 0px 20px #2DAABE,0px 0px 20px #2DAABE;
	-webkit-text-shadow:0px 0px 20px #2DAABE,0px 0px 20px #2DAABE,0px 0px 20px #2DAABE;
}


.countdown-text-link {
    font-size: 120%;
    display: block;
    font-family: 'Nunito', sans-serif;
    color:#fff;
    text-shadow:0px 0px 20px #C1007B,0px 0px 20px #C1007B,0px 0px 20px #C1007B;
	-moz-text-shadow:0px 0px 20px #C1007B,0px 0px 20px #C1007B,0px 0px 20px #C1007B;
	-webkit-text-shadow:0px 0px 20px #C1007B,0px 0px 20px #C1007B,0px 0px 20px #C1007B;
}



body{
	background-color:#000;
}


p{
    color:#fff;
}
#defaultCountdown {
	height: 150px;
	margin: 10px auto;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
